    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row">
                <div class="col">
            <a asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
            <div class="col">
            <a asp-controller="Admin" asp-action="Orders">Панель администратора</a>
            </div>
            </div>
        </div>
    </footer>