@model Role
@{
    ViewData["Title"] = "Создание нового товара";
}
<div>
<h3>Создание новой роли</h3>
</div>

<div class="text-danger font-weight bold" asp-validation-summary="All"></div>

<form method="post">
<div class="mb-3 row">
    <label for="Name" class="col-sm-2 col-form-label">Наименование</label>
    <div class="col-sm-5">
        <input asp-for="Name" type="text" class="form-control" />
        <span asp-validation-for="Name" />
    </div>
</div>
    <div>
        <button class="btn btn-success" type="submit" asp-controller="Admin" asp-action="AddRole">Сохранить</button>
        <button class="btn btn-success" type="submit" asp-controller="Admin" asp-action="Roles">Отмена</button>
    </div>
</form>