@{
    ViewData["Title"] = "Панель администратора";
}

<h3>Панель Администратора</h3>
<div class="row">
@await Html.PartialAsync("AdminLeftPannel")
</div>
<div class="col-9">
    <h4>Пользователи</h4>
</div>